// you can change colors here
$theme-color: #3eaf7c;
$font-family: 'PingFang SC','Microsoft YaHei','SimHei','Arial','SimSun';
$font-family-heading: 'PingFang SC','Microsoft YaHei','SimHei','Arial','SimSun';
